

<form action='/adams_morgan' method='post'>
	<label>Post Title:</label>
	<input type="text" name="title" placeholder="Enter Text Here">
	<label>Description:</label>
	<input type="text" name="description" placeholder="Enter Description Here">
	<input type="Submit">
</form>



<%= @post.inspect %>