<!DOCTYPE html>
<html>
	<head>
	  <title>DC Dish | Your Guide to the Real District</title>
	  <link rel="stylesheet" type="text/css" href="/css/styles.css">
	  <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	  <meta charset = 'utf-8'>
	</head>

	<body>
		<div class="box">
	  <%#= We use flash[:notice] and flash[:error] to display one-time messages to the user. Something like "Successfully logged in!" or "Could not log in :(" would go in these %>
	  <%# if flash[:notice] %>
	    <%#= flash[:notice] %>
	  <%# end %>

	  <%# if flash[:error] %>
	    <%#= flash[:error] %>
	  <%# end %>
		<header>
		<nav class="clearfix">
			<div id="logout">
				<a href='/logout'>Logout |</a>
				<a href='/main_page'>Home |</a>
				<%= current_user.email %>
			</div>
			<div id="name">
				<h1>DC Dish</h1>
				<h2>Your Guide to the Real District</h2>
			</div>
		</nav>
		</header>
		<div class="left">
			<div id="neighborhood">
			</div>
			<div>
			<p class="drop">DC Dish is dedicated to giving it’s users a type of currency that is more powerful than money itself in this day and age – information. We here at DC Dish want users to be informed – informed about their city. Sure there are other websites that will give you a vague description of the various areas in the city but they don’t go deep enough. We are here to go deeper – to give tourists and inhabitants alike the real scoop on what a given neighborhood is like from the perspective of people in the know. Users can post about any neighborhood to the right anonymously so they can feel comfortable without worrying about backlash. Peruse the site and feel free to say what you feel about U street, Dupont, Georgetown or any other listed neighborhood…Enjoy!</p>
			</div>
		</div>

		<div class="right">
			<h3>Neighborhoods</h3>

			<ul>
			<% @all_neighborhoods.each do |neighborhood| %>
				<li><a href="/neighborhoods/<%= neighborhood.id %>/posts" ><%= neighborhood.title %></a></li>
			<% end %>
			</ul>

	 		<!-- <ul>
	 			<li><a href="/">Adams Morgan</a></li>
	 			<li><a href="/neighbors/:neighborhood_id">U Street</a></li>
	 			<li><a href="/neighbors/:neighborhood_id">Petworth</a></li>
	 			<li><a href="/neighbors/:neighborhood_id">Shaw</a></li>
	 			<li><a href="/neighbors/:neighborhood_id">Dupont Circle</a></li>
	 			<li><a href="/neighbors/:neighborhood_id">Georgetown</a></li>
	 			<li><a href="/neighbors/:neighborhood_id">Chinatown</a></li>
	 			<li><a href="/neighbors/:neighborhood_id">Columbia Heights</a></li>
	 			<li><a href="/neighbors/:neighborhood_id">H Street</a></li>
	 		</ul> -->
		</div>

		<footer>
			<a href="#">Twitter</a>
			<a href="#">Facebook</a>
			<a href="#">Instagram</a>
			<a href="#">Contact Us</a>
			<p>© Kadar Hall Inc. all rights reserved.</p>
		</footer>
		</div>
	</body>
</html>